@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    background-color: #31304D;
    font-family: 'Lato', sans-serif;
    color: #EE7214;
    text-align: center;
}

#popup{
    color: #31304D;
    background-color: #DF826C;
}

.header{
    font-size: 60px;
}

.released{
    color: #D0F288 !important;
    animation: yeee 5s ease-in-out infinite !important;
}

@keyframes yeee{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
        font-size: 700%;
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-30deg);
    }
}

#answer{
    font-size: 80px;
    color: #BED754;
}

#details{
    color: #d75854;
    font-family: 'Montserrat', sans-serif;
    
}

#github{
    position:absolute;
    top: 12%;
    right: 25%;
    width: 40px;
}

#checkbox-wrapper{
    font-size: small;
    color: #DF826C;
}

input::after {
    height: 100px;
}

